.cc {
    padding: 0;
    margin: 0;
    background-image: url("https://static-cse.canva.com/blob/1145215/1.magebyRodionKutsaevviaUnsplash.jpg");
    background-size: cover;
    background-position: center;
}


.clk {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: center;
    justify-content: flex-end;
    padding-left: 270px;
    color: white;
    background-color: black;
}



.clock {
    height: 15vw;
    width: 20vw;
    /* padding: 2px; */
    margin: auto;
    background: transparent;
    position: relative;
    border-radius: 50px;
    border: 30px solid black;
    background-position: center;

}


#hours,
#minutes,
#seconds {
    position: absolute;
    border-radius: 100px;
    transform-origin: bottom;
}

#hours {
    width: 7%;
    height: 25%;
    top: 25%;
    left: 49%;
    opacity: 0.65;
    background-color: black;
}

#minutes {
    width: 6%;
    height: 35%;
    top: 15%;
    left: 49%;
    opacity: 0.65;
    background-color: green;

}

#seconds {
    width: 4%;
    height: 45%;
    top: 6%;
    left: 49%;
    opacity: 0.65;
    background-color: red;

}


.cloc {
    height: 20vw;
    width: 20vw;
    margin: auto;
    position: relative;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
}


.digital-clock {
    margin-top: 30px;
    font-size: 60px;
    color: white;
    background-color: black;
}